.container {
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 20px;
}

.Mstart-20 {
	margin-left: 20px;
}

.brand-font {
	font-family: Code;
}

.biotagger {
	font-family: Code;
	font-size: 100px;
	margin-top: 10%;
	margin-left: 19%;
	color: #888888;
	text-shadow: 1px 1px 1px #000;
}

.biotagger_info {
	margin-top: -35px;
	font-size: 25px;
	margin-left: 19%;
}

.about_Body{
	margin-left: 10px;
}

@font-face {
	font-family: Code;
	src: url(../fonts/CODEBold.otf);
}